body {
  font-family: 'Helvetica';
}

.basics {
  text-align: center;

  width: 50%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 12px;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 12px;
}

.name {
  grid-row: 1;
  grid-column: 2/3;

  font-size: 27px;
  font-weight: 500;
}

.name ~ input {
  grid-row: 2;
}

.name ~ span {
  grid-row: 2;
}

span {
  align-self: center;
}

#root > div {
  width: 75%;
  margin: 0 auto;
  border: solid red 1px;
}

input {
  font-family: 'Helvetica';
  font-size: 16px;
  text-align: center;
  border: 0;
  padding: 0;
  border-top: solid transparent 1px;
  border-bottom: solid black 1px;
  background-color: antiquewhite;
}

input:focus {
  outline: none;
}

li button {
  position: absolute;
  right: 0;
}

li span {
  vertical-align: sub;
}

li + li {
  margin-top: 6px;
}

ul + button {
  margin-left: 3em;
}

.remove-entry:nth-of-type(1) {
  position: absolute;
  bottom: auto;
  top: 0%;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  padding-bottom: 12px
}

.header {
  text-align: initial;
  font-weight: 600;
  border-bottom: black solid 1px;
  width: 100%;
}

.header + div {
  margin-top: 12px;
}

.top-row {
  display: flex;
  font-weight: 600;
}

.experience {
  margin-right: 48px;
}
.institution {
  margin-right: 48px;
}

.entry {
  position: relative;
  margin-bottom: 12px;
}

.start {
  margin-right: 6px;
}

.end {
  margin-left: 6px;
}

.remove-entry {
  position: absolute;
  bottom: 23%;
  right: 0;
}

.add-new {
  align-self: end;
  margin-top: 12px;
}